/*Colores*/
$white: white;
$celeste:#04baab;
$celesteOscuro:rgb(16,158,194);
$fondoMenuResponsive : rgba(#00776d,.9);
$title:#00a89a;
$cuadro:#05a99b;
$azulDark : rgb(5, 51, 63);
$colorParrafoDark : #01665e;
$dark : #01665e;
$colorParrafoLight : #07ffea;
$colorTxtSlideDark : #01665e;

/*Capas*/
$nav: 99;
$menuResponsive: 90;

/*Tamaño de Fuentes*/
$itemMenuResponsive: 2rem;
$iconMenu: 1.8rem;
$titulo:3rem;
$sizeParrafo: 1.7rem;
$sizeBtn:1.6rem;

/*Peso*/
$pesoBtn: 500;
$pesoTitle: 600;

/*Botones*/
$textBtn:#007067;
$fondoBtn: #CFEAEA;
