@charset "UTF-8";
/*Colores*/
/*Capas*/
/*Tamaño de Fuentes*/
/*Peso*/
/*Botones*/
.analisisLista {
  display: flex;
  width: 100%;
  min-width: 320px;
  height: calc(100vh - 70px);
  margin: 0;
  padding: 0;
}

/*MENU DE ANALISIS*/
.analisis__menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  width: 20%;
  padding: 2rem 2rem;
  overflow-y: scroll;
}

.menu__item--letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  aspect-ratio: 1/1;
  border-radius: 3px;
  text-decoration: none;
  background-color: #05a99b;
  margin: auto auto;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.menu__item--letter:hover {
  border: 3px solid #05a99b;
  background-color: white;
}

.menu__item--letter button {
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-align: center;
  font-size: 3rem;
  color: white;
  transition-property: color;
  transition-duration: 0.3s;
  border: none;
  border-radius: 3px;
  background-color: #05a99b;
  cursor: pointer;
}

.menu__item--letter:hover button {
  color: #05a99b;
  background-color: white;
}

/*CONTANEDOR DE ANALISIS --DETALLES*/
.analisis__contain {
  width: 80%;
  margin: 0 auto;
  padding: 3rem;
  background-color: white;
}

.analisis__contain h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #01665e;
}

.contain__input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem 0;
}

.contain__input label {
  display: flex;
  align-items: center;
  width: 60%;
  margin-right: 1.5rem;
  font-size: 1.8rem;
  color: white;
}

.contain__input label p {
  margin-right: 1.7rem;
  font-weight: 600;
  color: #01665e;
}

.contain__input--search {
  width: 100%;
  height: 3.8rem;
  border-radius: 5px;
  border-style: none;
  outline: none;
  padding: 0 1.5rem;
  border: 2px solid #01665e;
}

.contain__input--search:hover {
  border: 2px solid #05a99b;
}

.contain__input--input {
  width: 20%;
}

.contain__frame {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  height: 60vh;
  font-size: 1.6rem;
  background-color: white;
  overflow-y: scroll;
}

.frame__analisis {
  position: relative;
}

.titleAnalisis {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.frame__analisis h2 {
  padding: 0.5rem 3rem;
  font-size: 2rem;
  width: 100%;
  color: #0b6666;
  background-color: #04d1c0;
}

.frame__analisis p {
  padding: 1.5rem 3rem;
  font-weight: 500;
  color: #01665e;
}

.frame__info {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.titleInfo {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.frame__info h2 {
  width: 100%;
  padding: 0.5rem 2rem;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  color: #0b6666;
  background-color: #04d1c0;
}

.frame__info--btn {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: #0b6666;
}

.frame__info--ver {
  padding: 0.5rem 0;
}

.frame__info--btn button {
  padding: 0.3rem 1.5rem;
  border-radius: 2px;
  text-decoration: none;
  color: #0b6666;
  background-color: #04d1c0;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  border: none;
}

.frame__info--btn button:hover {
  color: white;
  background-color: #0b6666;
}

.frame__info--btn button i {
  margin-right: 1rem;
  font-size: 1.5rem;
}

/*MODAL CHILDREN*/
.contain__modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.contain__modal--description {
  width: 100%;
  height: 70%;
  padding: 2rem;
}

.title__modal {
  width: 80%;
  padding-bottom: 2%;
  font-size: 2rem;
  border-bottom: 3px solid #05a99b;
  color: #01665e;
}

.subtitle__modal {
  margin-bottom: 5px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #01665e;
}

.valor__modal {
  font-size: 1.5rem;
  font-weight: 500;
}

.contain__modal--precio {
  display: flex;
  align-items: center;
  height: 30%;
  width: 100%;
}

.precioModal {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 5% 0;
  color: white;
  background-color: #05a99b;
}

@media only screen and (max-width: 1024px) {
  .analisis__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    width: 30%;
    padding: 2rem 2rem;
    overflow-y: scroll;
  }

  .menu__item--letter {
    width: 60%;
  }
}
@media only screen and (max-width: 850px) {
  .menu__item--letter {
    width: 70%;
  }

  .menu__item--letter button {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 650px) {
  .menu__item--letter {
    width: 70%;
  }

  .menu__item--letter button {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 550px) {
  .analisis__menu {
    display: none;
  }

  .analisis__contain {
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
  }

  .contain__input label {
    width: 80%;
    margin-right: 1.5rem;
    font-size: 1.8rem;
    color: white;
  }
}
@media only screen and (max-width: 420px) {
  .analisis__contain {
    width: 100%;
    padding: 2rem;
  }

  .contain__input label {
    width: 90%;
  }

  .frame__analisis p {
    padding: 1.5rem 1rem;
    font-weight: 500;
    color: #01665e;
  }
}
