@charset "UTF-8";
/*Colores*/
/*Capas*/
/*Tamaño de Fuentes*/
/*Peso*/
/*Botones*/
footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  max-width: 2300px;
  min-width: 320px;
  margin: 0 auto;
  padding: 3% 3% 0 3%;
  background-color: #04baab;
}

.footer__logo {
  width: 10%;
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

.footer__logo p {
  font-size: 1.4rem;
}

.footer__link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  margin: 0 auto;
}

.footer__link img {
  height: 100%;
  width: 100%;
}

.footer__link p {
  text-align: center;
}

.footer__contain {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
}

.footer__item h2 {
  margin-bottom: 5%;
  font-size: 1.9rem;
  font-weight: 600;
  color: #045a53;
}

.footer__item ul {
  list-style: none;
}

.footer__item ul li {
  margin-bottom: 5px;
}

.footer__item ul li a {
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.footer__item ul li a i {
  font-size: 2rem;
}

.redes {
  width: 100%;
  padding: 5% 0;
}

.redes ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.redes ul li {
  margin-right: 5%;
}

.redes ul li a i {
  font-size: 4rem;
}

.footer__copyRight {
  width: 100%;
  text-align: center;
  padding: 1% 0 0 0;
  font-size: 1.4rem;
  color: white;
  padding-bottom: 1%;
}

@media only screen and (max-width: 850px) {
  .footer__logo {
    width: 30%;
  }

  .footer__link img {
    width: 80%;
  }

  .footer__contain {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 70%;
    padding: 0 7%;
  }

  .footer__item {
    width: 50%;
    margin: 0 auto;
    padding: 0%;
    padding-bottom: 3%;
  }
}
@media only screen and (max-width: 850px) {
  .footer__logo {
    width: 30%;
  }

  .footer__link img {
    width: 80%;
  }

  .footer__contain {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 70%;
    padding: 0 7%;
  }

  .footer__item {
    width: 50%;
    margin: 0 auto;
    padding: 0%;
    padding-bottom: 3%;
  }
}
@media only screen and (max-width: 530px) {
  .footer__logo {
    width: 100%;
    margin-bottom: 15px;
  }

  .footer__logo p {
    font-size: 1.5rem;
  }

  .footer__link img {
    width: 20%;
  }

  .footer__contain {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 70%;
    padding: 0 7%;
  }

  .footer__item {
    width: 100%;
    margin: 0 auto;
    padding: 0%;
    padding-bottom: 10%;
    text-align: center;
  }

  .footer__item h2 {
    margin-bottom: 0;
  }

  .footer__item ul li a {
    font-size: 1.6rem;
  }

  .redes ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
