@charset "UTF-8";
/*Colores*/
/*Capas*/
/*Tamaño de Fuentes*/
/*Peso*/
/*Botones*/
.analisis {
  width: 100%;
  min-width: 290px;
  padding: 3% 3%;
}

.analisis h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #00a89a;
}

.analisis__container {
  width: 45%;
  margin: 0 auto;
  padding: 5% 0;
}

.analisis__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 150px;
  border-radius: 15px;
  background-color: #05a99b;
}

.analisis__texto p {
  width: 100%;
  padding-left: 30%;
  color: white;
  font-size: 1.7rem;
}

.analisis__texto a {
  width: 20%;
  margin-top: 5%;
  margin-left: 70%;
  font-size: 1.6rem;
  text-decoration: none;
  text-align: center;
  padding: 1%;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  color: #007067;
  background-color: #CFEAEA;
}

.analisis__item {
  position: absolute;
  top: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  margin-left: -10%;
  border-radius: 50%;
  border: 15px solid white;
  background-color: #05a99b;
}

.analisis__item img {
  width: 70%;
}

@media only screen and (max-width: 1200px) {
  .analisis__container {
    width: 60%;
  }

  .analisis__texto {
    height: 22vh;
  }

  .analisis__texto p {
    padding-left: 35%;
    font-size: 1.7rem;
  }

  .analisis__item {
    top: -20%;
    height: 200px;
    width: 200px;
    margin-left: -10%;
    border: 15px solid white;
  }
}
@media only screen and (max-width: 1024px) {
  .analisis__container {
    width: 55%;
  }

  .analisis__texto {
    height: 22vh;
  }

  .analisis__texto p {
    padding-left: 35%;
    font-size: 1.7rem;
  }

  .analisis__item {
    top: -20%;
    height: 200px;
    width: 200px;
    margin-left: -10%;
    border: 15px solid white;
  }
}
@media only screen and (max-width: 900px) {
  .analisis__container {
    width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  .analisis__container {
    width: 75%;
  }

  .analisis__texto {
    height: 19vh;
  }
}
@media only screen and (max-width: 646px) {
  .analisis__container {
    width: 80%;
  }

  .analisis__texto {
    height: 17vh;
  }

  .analisis__texto a {
    margin-top: 3px;
  }

  .analisis__item {
    top: -20%;
    height: 170px;
    width: 170px;
    margin-left: -10%;
    border: 15px solid white;
  }
}
@media only screen and (max-width: 524px) {
  .analisis__container {
    width: 80%;
  }

  .analisis__texto {
    height: 15vh;
  }

  .analisis__texto p {
    padding-left: 35%;
    padding-right: 3%;
    font-size: 1.6rem;
    text-align: justify;
  }

  .analisis__item {
    top: -20%;
    height: 150px;
    width: 150px;
    margin-left: -10%;
    border: 15px solid white;
  }

  .analisis__texto a {
    width: 20%;
    margin-top: 0%;
    margin-left: 70%;
    font-size: 1.6rem;
    padding: 1%;
  }
}
@media only screen and (max-width: 460px) {
  .analisis__texto p {
    padding-left: 40%;
  }
}
@media only screen and (max-width: 400px) {
  .analisis__container {
    margin-top: 5%;
    width: 90%;
  }

  .analisis__texto {
    height: 17vh;
  }

  .analisis__texto p {
    padding-left: 40%;
    font-size: 1.6rem;
  }

  .analisis__item {
    top: -20%;
    height: 150px;
    width: 150px;
    margin-left: -11%;
    border: 15px solid white;
  }

  .analisis__texto a {
    width: 30%;
    margin-top: 4%;
    margin-left: 63%;
    font-size: 1.6rem;
    padding: 1%;
  }
}
@media only screen and (max-width: 350px) {
  .analisis__texto {
    height: 13vh;
  }

  .analisis__texto p {
    padding-left: 35%;
    font-size: 1.5rem;
    word-spacing: normal;
    letter-spacing: 0px;
    line-height: 1.9rem;
    margin-top: 22px;
    text-align: none;
  }

  .analisis__item {
    top: -19%;
    height: 120px;
    width: 120px;
    margin-left: -11%;
    border: 12px solid white;
  }

  .analisis__texto a {
    width: 30%;
    margin-top: 4%;
    margin-left: 63%;
    font-size: 1.6rem;
    padding: 1%;
  }
}
