@charset "UTF-8";
/*Colores*/
/*Capas*/
/*Tamaño de Fuentes*/
/*Peso*/
/*Botones*/
.main {
  width: 100%;
  max-width: 2300px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
}

.resultados {
  width: 100%;
  min-width: 290px;
  padding: 3% 3%;
}

.resultados h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #00a89a;
}

.resultados__container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 5% 0;
  padding-bottom: 0;
}

.resultados__item {
  display: fixed;
  flex-direction: column;
  width: 25%;
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
  padding: 2% 0;
  background-color: #05a99b;
}

.resultados__item img {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.item__description {
  display: inline-block;
  width: 100%;
}

.item__description:hover {
  transform: rotateX(90deg) translateY(-22px);
}

.item__description a {
  width: 100%;
  padding: 2% 10%;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  width: 100%;
  border-radius: 5px;
  color: #007067;
  background-color: #CFEAEA;
}

@media only screen and (max-width: 768px) {
  .resultados__container {
    display: flex;
    width: 95%;
    margin: 0 auto;
  }

  .resultados__item {
    width: 30%;
    text-align: center;
    border-radius: 15px;
    padding: 2% 0;
    background-color: #05a99b;
  }
}
@media only screen and (max-width: 524px) {
  .resultados__container {
    display: flex;
    flex-flow: row wrap;
    width: 70%;
    margin: 0 auto;
  }

  .resultados__item {
    width: 100%;
    text-align: center;
    border-radius: 15px;
    padding: 2% 0;
    margin-bottom: 9%;
    background-color: #05a99b;
  }

  .resultados__item a {
    border: 1px solid #05a99b;
    padding: 3% 5%;
    margin-top: 15px;
  }
}
@media only screen and (max-width: 400px) {
  .resultados__container {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: 0 auto;
  }
}
