@charset "UTF-8";
/*Colores*/
/*Capas*/
/*Tamaño de Fuentes*/
/*Peso*/
/*Botones*/
.newPruebas {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  min-width: 290px;
  padding: 0 3%;
  padding-top: 5%;
}

.newPruebas h1 {
  width: 100%;
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 3%;
  color: #00a89a;
}

.newPruebas__contain {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 3% 0;
}

.pruebas__item {
  position: relative;
  width: 22%;
  margin-right: 5%;
  padding: 4% 0;
  border-radius: 15%;
  text-align: center;
  background-color: #05a99b;
}
.pruebas__item p {
  font-size: 1.7rem;
  color: white;
  font-weight: 400;
  margin-bottom: 15%;
  margin-top: 7%;
}
.pruebas__item a {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
  padding: 1% 8%;
  font-weight: 500;
  color: #007067;
  background-color: #CFEAEA;
}

.pruebas__item:nth-child(3) {
  margin-right: 0%;
}

.pruebas__item--icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -15%;
  left: 35%;
  width: 30%;
  padding: 5% 3%;
  border-radius: 50%;
  border: 7px solid white;
  background-color: #05a99b;
}

.pruebas__item--icon img {
  width: 80%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .pruebas__item {
    width: 30%;
    margin-right: 3%;
    border-radius: 15px;
  }
}
@media only screen and (max-width: 420px) {
  .pruebas__item {
    width: 45%;
    margin-right: 3%;
    margin-bottom: 3%;
  }
}
@media only screen and (max-width: 370px) {
  .pruebas__item {
    width: 90%;
    margin-right: 3%;
    margin-bottom: 15%;
    padding-top: 15%;
  }

  .pruebas__item p {
    margin-top: 4%;
    margin-bottom: 7%;
  }
}
