@charset "UTF-8";
/*Colores*/
/*Capas*/
/*Tamaño de Fuentes*/
/*Peso*/
/*Botones*/
.tns-outer {
  margin-top: 0px;
}

.contentSlider {
  position: relative;
}

.picture {
  width: 100%;
}

.picture img {
  width: 100%;
  height: calc(100vh - 70px);
  object-fit: cover;
}

.splide__slide--description {
  position: absolute;
  top: 30%;
  left: 10%;
  color: #01665e;
  font-weight: 600;
  width: 47%;
  line-height: 5rem;
}

.description__p {
  font-size: 5rem;
}

.description__span {
  font-size: 3rem;
}

/*===========SPLIDE-RESPONSIVE===========*/
@media only screen and (max-width: 1024px) {
  .splide__slide--description {
    width: 55%;
    top: 28%;
    left: 10%;
  }

  .description__p {
    font-size: 5rem;
  }

  .description__span {
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 870px) {
  .splide__slide--description {
    width: 55%;
    top: 28%;
    left: 10%;
  }

  .description__p {
    font-size: 4.5rem;
  }

  .description__span {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .splide__slide--description {
    width: 55%;
    top: 27%;
    left: 10%;
  }

  .description__p {
    font-size: 4rem;
  }

  .description__span {
    font-size: 2.3rem;
  }
}
@media only screen and (max-width: 728px) {
  .splide__slide--description {
    width: 70%;
    top: 20%;
    left: 14.5%;
    text-align: center;
  }

  .description__p {
    font-size: 4.8rem;
  }

  .description__span {
    width: 100%;
    font-size: 2.3rem;
  }
}
@media only screen and (max-width: 400px) {
  .splide__slide--description {
    width: 90%;
    top: 20%;
    left: 5%;
  }

  .description__p {
    font-size: 3.5rem;
  }

  .description__span {
    font-size: 2.3rem;
  }
}
.tns-outer button {
  display: block;
}
