@import '../../Base/variables.scss';

.estadisticas{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-width: 290px;
    padding: 0% 0%;
    padding-top: 0;
}
.estadisticas::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:url('../../../img/banner/banner3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(50%);
    // filter: blur(3px);
}
.estadisticas__flex{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color:rgba($cuadro, .4);

}
.estadisticas__container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30vh;
    margin-top: -5%;
    // background-color: red;
}
.estadisticas__item{
    width: 25%;
    padding-right: 5%;
}
.estadisticas__item--img{
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 100%;
    // background-color: blue;
}
.estadisticas__item--img img{
    width: 7vw;
    height: 100%;
}
.estadisticas__item--description{
    text-align: center;;
    border-radius: 15px;
    background-color:#FEFBFB;
}
.description__number{
    font-size: 4.5rem;
    font-weight: 500;
    color: $colorParrafoDark;
}
.description__text{
    font-size: 2.4rem;
    font-weight: 500;
    color: $colorParrafoDark;
}

@media only screen and (max-width:1024px){
    .estadisticas__container{
        width: 90%;
    }
    .estadisticas__item--img{
        display: flex;
        justify-content: center;
        height: 20vh;
        width: 100%;
    }
    .description__number{
        font-size: 4.3rem;
    }
    .description__text{
        font-size: 1.9rem;
    }
}
@media only screen and (max-width:768px){
    .estadisticas__container{
        width: 95%;
        height: auto;
    }
    .estadisticas__item--img{
        display: flex;
        justify-content: center;
        height: 15vh;
        width: 100%;
    }
    .description__number{
        font-size: 4.3rem;
    }
    .description__text{
        font-size: 1.9rem;
    }
    .estadisticas__item{
        width: 25%;
        padding-right: 3%;
    }
}
@media only screen and (max-width:600px){
    .estadisticas__container{
        width: 95%;
    }
    .estadisticas__item{
        width: 50%;
        padding-right: 5%;

    }
    .estadisticas__item--img{
        display: flex;
        justify-content: center;
        height: 15vh;
        width: 100%;
    }
    .estadisticas__item--img img{
        width: 10vw;
        height: 100%;
    }
    .description__number{
        font-size: 4.1rem;
    }
    .description__text{
        font-size: 1.7rem;
    }
}
@media only screen and (max-width:450px){
    .estadisticas__container{
        width: 80%;
        height: 100vh;
        margin-top: 1%;
        padding: 20% 0;
        justify-content: space-around;
        // background-color:red;
    }
    .estadisticas__item{
        display: flex;
        width: 100%;
        padding-right:0;
        // width: 25%;
        // padding-right: 5%;
    }
    .estadisticas__item--img{
        width: 40%;
        height: 11vh;
        align-items: center;
        // display: flex;
        // justify-content: center;
        // height: 30vh;
        // width: 100%;
        // // background-color: blue;
    }
    .estadisticas__item--img img{
        width: 15vw;
        height: 100%;
        // width: 7vw;
        // height: 100%;
    }
    .description__number{
        font-size: 3.2rem;
    }
    .description__text{
        font-size: 1.5rem;
    }
    .estadisticas__item--description{
        width: 50%;
        text-align: center;
        border-radius: 15px;
        background-color:#FEFBFB;
    }
}